
<div class="container">
  <div class="row" class="border">
    <app-header></app-header>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="border">
        Left Side Menu bar
      </div>
    </div>
    <div class="col-md-6">
      <div class="border">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="col-md-3">
      <div class="border">
        Right side Menu bar
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" class="border">
    <app-footer></app-footer>
  </div>
</div>